.select-bank-container {
  width: 300px;
  padding: 20px;
}
.bank-list {
  margin-top: 20px 0;
}
.bank-item {
  margin: 12px 0;
}
.bank-item button {
  width: 100%;
}
.bank-item img {
  width: 72px;
  height: 32px;
  margin-right: 12px;
}